body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    color: rgb(253, 236, 181);
    background-color: rgb(252, 68, 69);
    padding: 15px;
    border: 5px solid rgb(253, 236, 181);
    margin: 30px;

}

h2{
    color: rgb(253, 236, 181); 
}

p{
    color: turquoise;
}

#link {
    color: rgb(253, 236, 181);
}
section ol {
    color: turquoise;
}
